<!DOCTYPE html>
<html style="height: 100%; overflow: hidden;">
<head>
    <script type="text/javascript" src="/js/thirdparty/pdfobject.min.js" />
    <script type="text/javascript">
        window.onload = function () {
            new PDFObject({ url: "/Upload/TalentFile/20170927/2017092708280043581.pdf" }).embed();
        };
    </script>
</head>
<body style="margin: 0px; padding: 0px; height: 100%; overflow: hidden;">
    <object data="/Upload/TalentFile/20170927/2017092708280043581.pdf#" type="application/pdf" width="100%" height="100%"></object>
</body>
</html>